.pokedex-pokemon-profile {
    background-color: #F2F2F2;
    border-radius: 5px;
    position: relative;
    display: block;
    float: left;
    width: fit-content !important;
    height: fit-content !important;
}
.gridListDetail{
    width: max-content !important;
    height: auto !important;
    margin : 10px 10px ;
  }
  .gridTileDetail{
      width: 500px !important;
        border-radius: 10px !important;
  }
  .imagesDetail{
    width: 500px !important;
  }
  .grid{
      padding: 20px !important
  }
  .fab{
    margin: 5px !important;
    height: fit-content !important;
  }